.hero {
  background: #fff6ed;
  padding: 60px 20px 0px;
  text-align: center;
}

.hero h1 {
  margin-bottom: 16px;
  font-family: Newsreader, "Newsreader Fallback";
font-size: 72px;
font-weight: 400;
color: oklch(0.145 0 0);
}

.hero p {
  max-width: 800px;
  margin: auto;
 font-family: Newsreader, "Newsreader Fallback";
font-size: 22px;
font-weight: 400;
color: oklch(0.145 0 0);
}

/* Responsive */

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 60px 20px 0px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: 14px;
  }
}